__pycache__/
softwareTests/
internalData/__pycache__/
internalData/moneyInfo/__pycache__/
internalData/userData/__pycache__/
internalData/userData/metaInf/__pycache__/
internalData/moneyInfo/DataBases/